<div class="weather-card">
  <div class="weather-header">
    <div class="weather-icon">
      {{ weather.icone }}
    </div>

    <div>
      <h3>{{ 'weather.condition-title' | translate }}</h3>

      <span>
        {{ weather.cidade }}
      </span>
    </div>
  </div>

  <div class="weather-temp">{{ weather.temperatura }}°C</div>

  <div class="weather-description">
    {{ weather.descricao | translate }}
  </div>

  <div class="weather-details">
    <div>{{ 'weather.humidity' | translate }} {{ weather.umidade }}%</div>

    <div>{{ 'weather.wind' | translate }} {{ weather.vento }} km/h</div>

    <div>{{ 'weather.rain' | translate }} {{ weather.chuva }}%</div>
  </div>

  <div
    class="weather-status"
    [class.excelente]="weather.statusCamping === 'Excelente'"
    [class.atencao]="weather.statusCamping === 'Atenção'"
    [class.ruim]="weather.statusCamping === 'Ruim'"
  >
    {{ obterEmojiStatus(weather.statusCamping) }}
    {{ obterChaveStatus(weather.statusCamping) | translate }}
    {{ 'weather.status-suffix' | translate }}
  </div>
</div>
