<div class="home">

    <div class="banner">

        <button class="menu-toggle" [class.hidden]="mapState.campingAberto()" (click)="toggleMenu()">
            ☰
        </button>

    </div>

    <div class="overlay" [class.show]="menuOpen" (click)="toggleMenu()">
    </div>

    <div class="layout">

        <aside class="sidebar" [class.open]="menuOpen">

            <div class="logo"></div>

            <nav class="menu">

                <button class="menu-item" [class.active]="telaAtual === 'home'" (click)="abrirHome()">
                    Minha Conta
                </button>

                <button class="menu-item" [class.active]="telaAtual === 'mapa'" (click)="abrirMapa()">
                    Mapa
                </button>

                <button class="menu-item" [class.active]="telaAtual === 'checklist'" (click)="abrirChecklist()">
                    Checklist
                </button>

            </nav>

        </aside>

        <main class="main-content">

            <div class="content">

                @if (telaAtual === 'home') {

                <h1>Bem-vindo ao O Campista 🏕️</h1>

                <p>
                    Seu portal de aventuras e campings.
                </p>
                @if (weather) {

                <app-weather-card [weather]="weather">
                </app-weather-card>

                }
                <div style="margin: 10px;"></div>
                @if (previsao3Dias.length) {

                <app-weather-card-forecast [previsoes]="previsao3Dias">
                </app-weather-card-forecast>

                }
                }

                @if (telaAtual === 'mapa') {

                <app-map />

                }

                @if (telaAtual === 'checklist') {

                <h2>Checklist</h2>
                <app-checklist />

                }

            </div>

        </main>

    </div>

</div>
